.photo-grid {
  display: grid;
  grid-auto-flow: row;
  min-height: 671px;
  max-width: 1184px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  justify-content: center;
  padding-bottom: 92px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(12, 240px);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(1, 304px);
    grid-template-rows: repeat(12, 228px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
  }
}
