.place__paragraph_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  z-index: 1;
  flex-wrap: wrap;
  margin: 0;
}

.place__paragraph_text:first-child {
  margin-bottom: 26px;
}
