.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer__copyright::before {
  content: "\00A9 \00A0";
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .footer__copyright {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
