.cover {
  width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  box-sizing: border-box;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover:hover {
  cursor: pointer;
}
