@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_en/header__link_en.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__title/_text/lead__title_text.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__subtitle/_text/lead__subtitle_text.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_paragraph/intro__list_paragraph.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__container-image/place__container-image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__paragraph/_text/place__paragraph_text.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__title/_text/place__title_text.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__title/_text/cover__title_text.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__subtitle/_text/cover__subtitle_text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    padding-top: 56px;
    max-width: 928px;
  }

  .lead__subtitle_text {
    margin: 32px 0 56px;
  }

  .intro {
    margin: 92px 286px 92px 48px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }

  .places {
    margin: 0 48px;
  }

  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    grid-column-gap: 32px;
  }

  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin: 28px 24px 0 24px;
  }

  .lead__subtitle_text {
    margin: 32px 0 56px;
  }

  .intro {
    margin: 88px 24px 88px 24px;
    max-width: 720px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
  }

  .places {
    margin: 0 24px;
  }

  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    grid-column-gap: 28px;
  }

  .place__title_text {
    font-size: 42px;
    line-height: 46px;
  }

  .cover {
    width: 768px;
    height: 480px;
  }

  .footer {
    margin: 88px 24px 24px 24px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .header {
    margin: 25px 20px 0 20px;
  }

  .lead__title_text {
    font-size: 52px;
    line-height: 60px;
  }

  .lead__subtitle_text {
    margin: 30px 0 52px;
    font-size: 24px;
    line-height: 28px;
  }

  .intro {
    margin: 72px 20px 72px 20px;
  }

  .photo-grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(12, 240px);
  }

  .places {
    margin: 0 8px;
  }

  .place__title_text {
    font-size: 35px;
    line-height: 38px;
  }

  .place__url-heading {
    font-size: 8px;
    line-height: 8px;
  }

  .place__link {
    font-size: 12px;
    line-height: 16px;
  }

  .cover {
    width: 426px;
    height: 319.5px;
  }

  .cover__title {
    margin-bottom: 24px;
  }

  .cover__title_text {
    font-size: 42px;
    line-height: 45px;
  }

  .footer {
    margin: 60px 12px 24px 12px;
  }

  .footer__link {
    font-size: 10px;
    line-height: 12px;
    margin-right: 12px;
  }

  .footer__copyright {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 18px 18px 0 18px;
  }

  .lead__title_text {
    font-size: 45px;
    line-height: 50px;
  }

  .lead__subtitle_text {
    margin: 32px 0 56px;
    font-size: 20px;
    line-height: 25px;
  }

  .intro {
    margin: 68px 18px 68px 18px;
  }

  .photo-grid {
    grid-template-columns: repeat(1, 304px);
    grid-template-rows: repeat(12, 228px);
  }

  .places {
    margin: 0;
    padding-bottom: 66px;
  }

  .place {
    margin-top: 60px;
    grid-template-areas:
      "place__title"
      "place__container-image"
      "place__paragraph";
    grid-template-columns: minmax(min-content, 425px);
    grid-template-rows:
      minmax(min-content, max-content)
      minmax(min-content, max-content)
      minmax(min-content, max-content);
    grid-row-gap: 32px;
  }

  .place__title_text {
    font-size: 33px;
    line-height: 36px;
    margin-left: 16px;
  }

  .place__website {
    display: none;
  }

  .place__paragraph_text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .cover {
    width: 321px;
    height: 240.75px;
  }

  .cover__title {
    margin-bottom: 18px;
  }

  .cover__title_text {
    font-size: 35px;
    line-height: 38px;
  }

  .cover__subtitle_text {
    font-size: 16px;
    line-height: 18px;
  }

  .footer {
    max-width: 180px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 72px 150px 24px 18px;
  }

  .footer__links {
    flex-wrap: wrap;
    margin: 0 0 48px 0;
  }

  .footer__link {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
  }

  .footer__copyright {
    font-size: 16px;
    line-height: 16px;
  }

  .footer__links_list {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 16px 16px 0 16px;
  }

  .header__link {
    font-size: 18px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .lead {
    max-width: 320px;
  }

  .lead__title_text {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle_text {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px;
  }
  .intro {
    margin: 64px 16px 64px 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    padding-right: 40px;
  }

  .photo-grid {
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
  }

  .places {
    margin: 0;
    padding-bottom: 66px;
  }

  .place {
    grid-template-areas:
      "place__title"
      "place__container-image"
      "place__paragraph";
    grid-template-columns: 320px;
    grid-template-rows:
      minmax(min-content, max-content)
      minmax(min-content, max-content)
      minmax(min-content, max-content);
    grid-row-gap: 32px;
    margin-top: 49px;
  }

  .place__title_text {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }

  .place__website {
    display: none;
  }

  .place__paragraph_text {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .cover {
    width: 320px;
    height: 200px;
  }

  .cover__title {
    margin-bottom: 20px;
    max-width: 255px;
  }

  .cover__title_text {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    max-width: 288px;
  }

  .cover__subtitle_text {
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    max-width: 158px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 64px 118px 24px 16px;
  }

  .footer__links {
    flex-wrap: wrap;
    margin: 0 0 48px 0;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }

  .footer__links_list {
    margin-bottom: 32px;
  }
}
