.place {
  display: grid;
  grid-template-areas:
    "place__title place__website"
    "place__container-image place__paragraph";
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  grid-template-rows:
    minmax(min-content, max-content)
    minmax(min-content, max-content);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  max-width: 984px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}
