.cover__heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .cover__heading {
    font-size: 42px;
    line-height: 45px;
  }
}

@media screen and (max-width: 425px) {
  .cover__heading {
    font-size: 35px;
    line-height: 38px;
  }
}

@media screen and (max-width: 320px) {
  .cover__heading {
    font-size: 32px;
    line-height: 35px;
  }
}
