.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: place__website;
}

@media screen and (max-width: 425px) {
  .place__website {
    display: none;
  }
}
